* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}


:root {
    --letra1 : rgb(211, 13, 89);
    --letra2 : rgba(0, 0, 0, 0.233);
    --letra3 : rgb(87, 7, 38);
    --letra4 : white;
    --sombra : rgba(0, 0, 0, 0.3);
    --fundomenu : rgba(211, 13, 89, 0.486);

}



/*TELA DE LOADING*/
#loadingframe {
    position: fixed;
    inset: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    transition: opacity 0.5s ease;   
    background: linear-gradient(135deg, rgb(87, 7, 38), rgb(87, 7, 38), rgb(211, 13, 89), rgb(211, 13, 89), rgb(211, 13, 89), rgb(211, 13, 89), rgb(87, 7, 38));
    animation: filter 2.5s alternate infinite;
}


#frame {
    position: relative;
    width: 100%;
    height: 100%;
}

@keyframes filter {
    0%      { filter:brightness(180%)};
    50%     { filter:brightness(100%)};
    100%    { filter:brightness(180%)};
    
}

#ROSAloading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    z-index: 10;
}

#ROSAloading img {
    width: 100%;
}
/*TELA DE LOADING*/




.tela {
    margin-left: 10%;
    margin-right: 10%;
    height: 400vh;
}


body {
    scroll-snap-type: y mandatory;
    font: normal 600 1em "Oswald";
    transition: background-color 0.8s ease-in-out;
    overflow: hidden;
}


.WMENU {
    background: linear-gradient(45deg, var(--letra1), var(--letra1), var(--letra1), var(--letra3));
}


.wmenu1 {
    color: var(--letra4);
    text-shadow: 2px 2px 2px var(--letra2);
}


.wm1 {
    color: var(--letra4);
    text-shadow: 1px 1px 2px var(--letra2);
}


.wm2 {
    color: var(--letra4);
    text-shadow: 1px 1px 2px var(--letra2);
}


.wm1:hover {
    background-color: var(--letra4);
    color: var(--letra1);
    box-shadow: 5px 5px 5px var(--sombra);
}


.wm2:hover {
    background-color: var(--letra4);
    color: var(--letra1);
    box-shadow: 5px 5px 5px var(--sombra);
}


.homebotao {
    color: var(--letra4);
}


.homebotao:hover {
    background-color: var(--letra4);
    color: var(--letra1);
    box-shadow: 5px 5px 5px var(--letra2);
}


 /*MENU HAMBURGER*/
    svg {
        border-radius: 5px;
        fill: var(--letra4);
    }



    svg:hover {
        background-color: var(--letra4);
        fill: var(--letra1);
        box-shadow: 5px 5px 5px var(--letra2);
    }


    .wmenuside {
        background: linear-gradient(45deg, var(--letra3), var(--letra1), var(--letra1), var(--letra3));
    }


    .WMENU {
        max-height: 10em;
    }


    .swm1 {
        color: var(--letra4);
        }


    .swm2 {
        color: var(--letra4);
        text-shadow: 1px 1px 2px var(--letra2);
        }


    .swm1:hover {
        background-color: var(--letra4);
        border-radius: 10px;
        color: var(--letra1);
        box-shadow: 5px 5px 5px var(--letra2);
        }


    .swm2:hover {
        background-color: var(--letra4);
        color: var(--letra1);
        box-shadow: 5px 5px 5px var(--letra2);
    }
/*MENU HAMBURGER*/


/*LISTA DE PROJETOS*/
#listaPROJETOSd a:hover,
#listaPROJETOSm a:hover{
    background-color: var(--letra1);
}
#listaPROJETOSd:hover a,
#listaPROJETOSm:hover a{
    color: var(--letra1);
}
#listaPROJETOSd a,
#listaPROJETOSm a{
    color: var(--letra4);
}
#listaPROJETOSd li:hover a,
#listaPROJETOSm li:hover a{
    color: var(--letra4);
}
/*LISTA DE PROJETOS*/


main {
    font-family: "Old Standard TT", serif;
    font-weight: 200;
    font-style: italic;
}


header {
    position: relative;
    height: 100vh;
    width: 100%;
}


#R {
    height: 100vh;
}


.textoROSA {
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
    pointer-events: none;
    color: var(--letra1);
    font-size: 2.5vh;
    width: 350px;
    height: 100px;
    padding: 12px;
    margin: 2px;
}


#rosa1 {
    position: fixed;
    top: 35%;
    right: 10%;
}


#rosa2 {
    position: fixed;
    top: 50%;
    right: 10%;
}


#rosa3 {
    position: fixed;
    top: 65%;
    right: 10%;
}


#rosa4 {
    position: fixed;
    top: 50%;
    right: 65%;
    width: 30%;
    height: 10%;
}


#rosa5 {
    position: fixed;
    top: 50%;
    right: 65%;
    width: 30%;
    height: 10%;
}


#ROSAlogo{
    position: absolute;
    height: 10vh;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
}


.textoROSA.visivel {
    opacity: 1;
}



.ROSAvd {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}


#ROSA {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}



/*GALERIA*/

#ROSAgaleria {
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    top: 25%;
    right: 10%;
    pointer-events: none;
    border-radius: 50%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    transition: scale 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}


#ROSAgaleria:hover {
    scale: 1.05;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.4);
}


#ROSAgaleria.visivel {
    pointer-events: auto;
    cursor: pointer;
}


#ROSAgaleria img{
    object-fit: cover;
    width: 100%;
}


.l {
    position: absolute;
    z-index: 2;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: pointer;
    box-shadow: 
            inset 10px 0 10px -5px rgba(0, 0, 0, 0.5);        
}


.r {
    position: absolute;
    z-index: 2;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    cursor: pointer;
    box-shadow:
            inset -10px 0 10px -5px rgba(0, 0, 0, 0.5);
}


article {
    background: linear-gradient(135deg, var(--letra1), white, white, white, white);
    position: fixed;
    top: 50vh;
    left: 47vw;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 80vw;
    height: auto;
    margin-right: calc(2% + 10px);
    margin-left: calc(2% + 10px);
    pointer-events: auto;
    z-index: 100000;
}


#galeria {
    position: fixed;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

#galeria.ativado {
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
    z-index: 100000;
}


.imagens {
    display: flex;
    width: 100%;
    margin: 0;
}


.imagens img{
    background-color: var(--cor1);
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
    margin: 0;
}


.midias {
    display: flex;
    transition: transform 0.5s ease-in-out;
}


.pontos {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    width: 500px;
    height: 15px;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    align-content: space-around;
    pointer-events: none;
    z-index: 1001;
}


.pontos .ponto {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: var(--letra3) solid 2px;
    transition: transform 0.3s ease-in-out;
}

.pontos .ponto.ativo {
    background-color: var(--cor1);
    transform: scale(1.5);
}
/*GALERIA*/



/*RODAPÉ*/
#rodape {
    position: fixed;
    display: flex;
    bottom: 2%;
    right: 15%;
    width: 7%;
    height: 15%;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
    pointer-events: none;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    font: normal 600 0.8em "Oswald"; 
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    color: var(--letra1);
    text-shadow: 1px 1px 2px var(--sombra);
}


#rodape.visivel {
    opacity: 1;
    pointer-events: auto;
}


.f>img{
    width: 2em;
    margin: 2%;
}

/*RODAPÉ*/

@media (max-width: 500px){
    body {
    font-size: 0.8em;
    }

    #ROSAlogo{
    height: 7vh;
    }
}




@media (max-width: 1000px){
    .f>img {
    width: 2em;
    }


    #rodape {
    bottom: 12%;
    }
}



@media (orientation: portrait){
    #rodape {
    right: 30%;
    }


    .f>img{
    width: 4em;
    }


    #rosa1 {
    top: 25%;
    left: 10%;
    }


    #rosa2 {
    top: 50%;
    left: 10%;
    }


    #rosa3 {
    top: 75%;
    left: 10%;
    }




}